/* @keyframes shrinkHeight {
  from {
      height: 100vh;
      transform: translateX(0);
  }
  to {
      height: 50px;
      transform: translateX(-100px);
  }
}

@keyframes shrinkLogo {
  from{
    width:100%;
  }
  to{
    width:117px;
  }
} */

@keyframes fadeIn {
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}