@keyframes shrinkHeight {
  from {
      height: 100vh;
  }
  to {
      height: 55px;
  }
}

@keyframes shrinkLogo {
  from{
    width:100%;
  }
  to{
    width:175px;
  }
}

@keyframes fadeIn {
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@keyframes fadeOut {
  99% {
      opacity:1;
      z-index:4;
  }
  100% {
      opacity:0;
      z-index: -1;
  }
}