
.animate-element{
  opacity:0;
}

.animate-element.animate{
  animation: fadeIn 2s forwards;
}
.btn a, .btn input{
  display:inline-block;
  padding:8px 24px!important;
  border-radius:var(--border-radius-medium)!important;
  text-decoration: none;
  transition: all .5s;
  font-size:18px!important;
  font-weight:500;
  cursor:pointer;
}

.btn-primary a, .btn-primary input{
  background-color: var(--primary-color);
  color:var(--terciary-color);
}

.btn-primary a:hover, .btn-primary input:hover{
  background-color: var(--secondary-color);
}

.btn-secondary a{
  background-color:var(--terciary-color);
  color:var(--primary-color);
}

.btn-secondary a:hover{
  background-color:var(--secondary-color);
}

.text-image{
  padding:90px 0;
  min-height:580px;
  /* animation: fadeIn;
  animation-timeline: view();
  animation-range: entry 50% cover 60%;
  opacity: 0; */
}

.text-image.reverse .text{
  padding-right:0;
  padding-left:50px;
}


.text-columns{
  padding:90px 0;
}

.text-columns .columns{
  padding:56px 100px 0 100px;
  gap:var(--big-gap);
}

.text-columns .columns p{
  margin:0;
}

.text-columns .columns > div{
  display:flex;
  flex-direction: column;
  gap:26px;
}

.text-image .text{
  padding-right:40px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-image .card{
  position:relative;
}

.text-image .card .content{
  position:absolute;
  bottom:0px;
  padding:48px 52px 48px 32px;
  display:flex;
  flex-direction: column;
  gap:16px;
}

.text-image .card .content .title{
  color:var(--terciary-color);
}
.text-image .card .content p{
  color:var(--terciary-color);
  line-height:1.3em;
  font-weight:800;
  font-size:18px;
}

.text-image .card img{
  object-fit: cover;
  width:100%;
  height:100%;
  border-radius:var(--border-radius-big);
}

.has-separator .content-separator:before{
  content:"";
  width:70px;
  height:1px;
  background-color:var(--primary-color);
  position:absolute;
  top:-30px;
  left:0;
}

.has-separator .content-separator{
  position: relative;
  margin-top:30px;
}


.inner-header{
  padding:70px 0;
}

.inner-header h1{
  font-size:67px;
}

.inner-header .text{
  max-width:750px;
}

.inner-header .imatge{
  max-width:420px;
  flex:420px;
}


.inner-header .text{
  padding-right:50px;
  display:flex;
  flex-direction: column;
  gap:39px;
}

.inner-header .text p + p{
  padding-top:15px;
}

.inner-header .imatge img{
  border-radius:36px;
  object-fit: cover;
  width:100%;
  height:100%;
}

.acordions{
  padding:90px 0 0px 0;
}

.acordions .items{
  max-width:600px;
  margin:auto;
}

.acordions .items *{
  text-align: center;
}

.acordions .items .item{
  position:relative;
}

.acordions .items .title{
  padding:16px 40px;
  text-transform: uppercase;
  border:4px solid #000;
  border-radius:16px;
  display:inline-block;
  font-size:40px;
  font-weight:500;
  line-height:56px;
  cursor:pointer;
  transition:all .3s;
  background-color:var(--bg-color);
}


.acordions .items .title:hover{
  color:var(--secondary-color)
}

.acordions .items .content{
  /* opacity:0;
  height:0; */
  position:relative;
  height:110px;
  overflow: hidden;
  transition: all .7s;
}

.acordions .items .content p{
  background-color: var(--bg-color);
  opacity:0;
  transition: all .3s;
}

.acordions .items .item.open .content{
  /* opacity:1;
  height:auto; */
  padding:40px 0;
  height:auto;
}

.acordions .items .item.open .content p{
  opacity:1;
  padding:30px 0;
}

.acordions .items .title:after{
  content:"";
  height:160px;
  width:4px;
  background-color: #000;
  position:absolute;
  top:90px;
  left:0;
  right:0;
  margin:auto;
  z-index:-1;
}
.acordions .items .item.open .title{
  color:var(--secondary-color);
  border-color:var(--secondary-color)
}

.acordions .items .item.open .title:after{
  background-color: var(--secondary-color);
}

.item.open + .item .title{
  margin:0;
}

.acordions .items .item.open .title:after{
  height:100%;
}



.acordions .items div:last-of-type.open .title:after{
  display:block!important;
  height:40px;
}

.acordions .items div:last-of-type .title:after{
  display:none!important;
  
}

.form-module{
  padding:90px 0;
}

.form-module form{
  display:flex;
  flex-direction: column;
  gap:43px;
}

.form-module .form-item{
  display:flex;
  flex-direction: column;
  gap:24px;
}

.form-module .center{
  max-width:690px;
  margin:auto;
  padding-top:60px;
}

.form-module input, .form-module textarea{
  padding:16px 24px;
  border-radius:24px;
  border:0;
  font-size:20px;
  line-height:30px;
}

.form-module input::placeholder,
.form-module textarea::placeholder{
  font-size:18px;
  color:#6E6E64;
  font-family: 'grotesk';
}

.form-module .form-item.checkbox{
  display:flex;
  flex-direction:row;
  gap:15px;
}

.form-module .form-item.checkbox label{
  font-size:14px;
  font-weight:500;
  order:2;
}

.form-module .legal{
  font-size:14px;
  line-height:20px;
}

.form-module .form-item.checkbox label a{
  text-decoration: underline;
}

.boxes{
  padding:80px 0;
}

.boxes .flex{
  gap:20px;
}

.boxes .box-item{
  border-radius: 36px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 56%, rgba(0, 0, 0, 0.40) 100%);
  padding:34px 31px 44px 31px;
  display:flex;
  flex-direction:column;
  gap:8px;

}

.boxes .box-item .content{
  display:flex;
  flex-direction: column;
  gap:24px;
}

.boxes .box-item p{
  font-weight:800;
  font-size:18px;
  line-height:24px;
}

@media screen and (max-width:991px){
 
  .text-image{
    padding:50px 0;
    flex-direction:column;
    align-items: flex-start;
    gap:35px;
  }
  .text-image .card{
    flex:0 0 400px;
    width:100%;
    height:400px;
    align-self: flex-start
  }
  .text-image h1,
  .text-image h2{
    padding-bottom:20px;
  }
  .text-image .card .content{
    padding:48px 30px;
  }
  .text-columns{
    padding:50px 0;
  }
  .boxes{
    padding:50px 0;
  }
  .text-columns .columns{
    padding:40px 0;
    gap:30px;
  }
  .text-image.reverse .text{
    padding-left:0;
  }
  .inner-header{
    flex-direction: column;
  }

  .inner-header .text{
    padding-right:0;
  }

  .inner-header .imatge{
    display:none;
  }
  .acordions{
    padding:40px 0 0 0;
  }
}

@media screen and (max-width:768px){
  .text-columns .columns{
    flex-direction: column;
    gap:60px;
    padding-bottom:0;
  }

  .acordions .items .title{
    font-size:30px;
  }

  .form-module{
    padding:40px 0;
  }
}