
.animate-element{
  opacity:0;
}

.animate-element.animate{
  animation: fadeIn 2s forwards;
}
.btn a{
  display:inline-block;
  padding:8px 24px;
  border-radius:var(--border-radius-medium);
  text-decoration: none;
  transition: all .5s;
  font-size:18px;
  font-weight:500;
}

.btn-primary a{
  background-color: var(--primary-color);
  color:var(--terciary-color);
}

.btn-primary a:hover{
  background-color: var(--secondary-color);
}

.btn-secondary a{
  background-color:var(--terciary-color);
  color:var(--primary-color);
}

.btn-secondary a:hover{
  background-color:var(--secondary-color);
}

.text-image{
  padding:90px 0;
  min-height:580px;
  /* animation: fadeIn;
  animation-timeline: view();
  animation-range: entry 50% cover 60%;
  opacity: 0; */
}

.text-image.reverse .text{
  padding-right:0;
  padding-left:50px;
}

.text-columns{
  padding:90px 0;
}

.text-columns .columns{
  padding:40px 100px 0 100px;
  gap:var(--big-gap);
}

.text-columns .columns p{
  margin:0;
}

.text-columns .columns > div{
  display:flex;
  flex-direction: column;
  gap:26px;
}

.text-image .text{
  padding-right:40px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-image .card{
  position:relative;
}

.text-image .card .content{
  position:absolute;
  bottom:0px;
  padding:48px 32px;
  display:flex;
  flex-direction: column;
  gap:16px;
}

.text-image .card .content .title{
  color:var(--terciary-color);
}
.text-image .card .content p{
  color:var(--terciary-color);
  line-height:1.1em;
  font-weight:800;
}

.text-image .card img{
  object-fit: cover;
  width:100%;
  height:100%;
  border-radius:var(--border-radius-big);
}

.inner-header{
  padding-top:70px;
}

.inner-header .imatge{
  max-width:420px;
  flex:420px;
}

.inner-header .text{
  padding-right:50px;
}

.inner-header .imatge img{
  border-radius:36px;
  object-fit: cover;
  width:100%;
  height:100%;
}