:root {
  --primary-color: #2D2D29;
  --primary-color-light: #4C4D43;
  --secondary-color: #C3D400;
  --terciary-color:#fff;
  --bg-color:#F8F7F7;
  --text-color: #2D2D29;
  --padding: 20px;
  --border-radius-extrabig: 48px;
  --border-radius-big: 30px;
  --border-radius-medium:16px;
  --gap: 20px;
  --big-gap:75px;
  --base-font: 20px;
  --small-font: 16px;
  --h1-size: 80px;
  --h1-small-size: 50px;
  --h3-size: 38px;
  --font-size-big: 60px;
  --font-size-medium:26px;
}

@font-face {
  font-family: 'grotesk';
  src: url('../fonts/hostgrotesk-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'grotesk';
  src: url('../fonts/hostgrotesk-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'grotesk';
  src: url('../fonts/hostgrotesk-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'grotesk';
  src: url('../fonts/hostgrotesk-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'grotesk';
  src: url('../fonts/hostgrotesk-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}




html, body{
  line-height:1.6em;
  color: var(--text-color);
  font-size: var(--base-font);
  font-family: 'grotesk', sans-serif;
  font-weight: 400;
  background-color:var(--bg-color);
}

h1, h2{
  font-size:var(--h1-size);
  font-weight:700;
  line-height:1.05em;
}

h2{
  font-weight:600;
}

h2.title-body{
  font-size:var(--h1-small-size)
}

h3{
  font-size:var(--h3-size);
  line-height:1.05em;
  font-weight: 500;
}

h3.title-body{
  font-size:var(--font-size-medium);
}

a{
  text-decoration: none;
  color:var(--primary-color);
  transition: all .5s;
}

img{
  max-width:100%;
}

#header{
  padding:70px 0 10px 0;
}

#header #menu-switcher{
  position:relative;
  z-index:3;
  display:block;
  cursor:pointer;
  float:right;
}
#header #menu-switcher span{
  display: block;
  height: 4px;
  width: 35px;
  background-color: var(--secondary-color);
  margin: 0 0 10px 0;
  transition: all 0.5s ease;
  border-radius:4px;
}

#header #menu-switcher.open span:nth-child(1){
  transform: translateY(8px) rotateZ(45deg);
}
#header #menu-switcher.open span:nth-child(2){
  transform: translateY(-5px) rotateZ(-45deg);
}

#main b, 
#main strong{
  color:var(--secondary-color);
}


.container{
  max-width:1280px;
  padding:0 80px;
  margin:auto;
}

@media screen and (max-width:1280px){
  .container{
    padding:0 40px;
  }
}

@media screen and (max-width:768px){
  .container{
    padding:0 20px;
  }
}

#main-menu{
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  width:100%;
  padding:70px 0;
  display:none;
  min-height:600px;
}

#main-menu .container{
  opacity:0;
  background:rgba(248,247,247,0.8);
}

#main-menu .menu{
  background-color:var(--secondary-color);
  padding:130px 128px 95px 90px;
  position:relative;
  flex:220px;
  border-radius:var(--border-radius-extrabig);
  transform-style: preserve-3d;
  perspective-origin: 100% 0;
    transform-origin: 100% 0;
}

#main-menu.show .menu{
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
}

#main-menu .menu ul{
  display:flex;
  flex-direction: column;
  gap:var(--gap);
}

#main-menu .menu a{
  font-size:var(--font-size-big);
  line-height:1.5em;
  font-weight: 700;
}

#main-menu .menu a:hover{
  color:var(--terciary-color);
}

#main-menu .menu:before{
  content:"";
  height:85px;
  width:75px;
  background-color:var(--bg-color);
  position: absolute;
  top:0;
  right:0;
  z-index:2;
  border-bottom-left-radius:40px;
}

#main-menu.show{
  display:block;
 
}

#big-logo{
  max-width:1400px;
  margin:auto;
  position:relative;
}

#big-logo img{
  animation: shrinkHeight 3s ease-in-out forwards;
}

.flex{
  display:flex;
  gap: var(--gap);
}

.flex > div{
  flex:1;
}

.sb{
  justify-content: space-between;
}

.ac{
  align-items: center;
}

.reverse{
  flex-direction: row-reverse;
}

#footer{
  margin-top: 90px;
  padding-bottom:72px;
}

#footer * {
  font-size:var(--small-font);
  color:var(--primary-color-light);
  font-weight: 300;
  line-height:1.78em;
}

#footer .menu-footer{
  padding-top:55px;
}

#footer .menu-footer *{
  font-weight:700;
}

#footer .menu-footer ul li{
  text-align: right;
}

#footer .menu-footer ul li a:hover{
  color:var(--secondary-color);
}

#footer .footer-cols{
  border-top:8px solid var(--primary-color);
  padding-top: 72px;
}

#footer .footer-cols p{
  margin:0;
}

#footer .footer-cols > div{
  flex:auto;
}

#footer .contact-section{
  display:flex;
  flex-direction: column;
  gap:13px;
}

#footer .social{
  gap:12px;
}

#footer .social a{
  display:inline-block;
  height:25px;
}

#header-home{
  position:absolute;
  top:70px;
  left:0;
  z-index:10;
  width:100%;
  height:100vh;
  background-color:var(--bg-color);
  display:flex;
  animation: shrinkHeight 1.5s ease-in-out forwards, fadeOut 1.5s linear forwards;
  justify-content: center;
  align-items: center;
}

#header-home .logo img{
  animation: shrinkLogo 1.5s ease-in-out forwards;
}


#header-home .container{
  min-width:1280px;
  padding:3px 0px 0 0px;
  background-color:var(--bg-color);
  margin:auto;
}

@media screen and (min-width:1280px){
  #header-home .container{
   width:1280px;
   margin:auto;
  }
}

@media screen and (max-width:1280px){
  #header-home .container{
    min-width:calc(100% - 80px);
    padding:3px 40px 0 40px;
  }
}

@media screen and (max-width:991px){
 
 
}

@media screen and (max-width:768px){
  #main-menu .flex{
    flex-direction:column;
  }
  #main-menu .flex > div:first-child{
    display:none;
  }
  #header{
    padding:44px 0 10px 0;
  }
  #header .header-left{
    flex:0 0 175px;
  }
  #header-home .container{
    min-width:calc(100% - 40px);
    padding:0 20px;
  }
  #header-home{
    top:48px;
  }
  #main-menu{
    padding-top:30px;
    top:80px;
  }
  #main-menu .menu{
    padding:25px;
  }
  #main-menu .menu li a{
    font-size:25px;
  }
  #main-menu .menu:before{
    display:none;
  }
  #footer .footer-cols{
    flex-direction: column;
  }
  #footer .footer-cols .menu-footer{
    padding-top:0;
  }
  #footer .footer-cols .menu-footer li{
    text-align: left;
  }
}



